{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": false
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/proposal-class-properties", { "loose": true }],
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "useBuiltIns": "usage",
            "corejs": 3,
            "targets": { "node": "current" }
          }
        ]
      ]
    }
  }
}
