{
  "**/!(*.d).{ts,tsx}": [
    "tslint"
  ],
  "**/!(*.?(s)css.d).+(js|jsx|ts|tsx|json|yaml|yml|css|sass|scss|md|mdx|graphql)": [
    "prettier --write"
  ],
  "*.{ts,tsx,js,jsx}": [
    "npm run test -- --ci --findRelatedTests"
  ]
}
