{
  "linters": {
    "*.{ts,tsx}": [
      "tslint"
    ],
    "**/*.+(js|jsx|ts|tsx|json|yaml|yml|css|sass|scss|md|mdx|graphql)": [
      "prettier --write",
      "git add"
    ],
    "*.{ts,tsx,js,jsx}": [
      "npm run test -- --ci --findRelatedTests"
    ],
  },
}
