{
  "arrowParens": "avoid",
  "trailingComma": "all",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "printWidth": 90,
  "endOfLine": "auto"
}
