/*--------------------------------------*\
  #Variables
\*--------------------------------------*/

/*******************\
 ##Colors
\*******************/
$color-primary: #006cff;
$color-primary-black: #131314;

$color-gray-1: #8995a3;

$color-light-gray-1: #f3f4f5;

/*******************\
 ##Sizes
\*******************/
