/*--------------------------------------*\
  #Variables
\*--------------------------------------*/

/*******************\
 ##Colors
\*******************/
$color-primary: #006cff;
$color-primary-black: #131314;
$color-primary-white: #fff;

$color-success: #06c25b;

$color-danger: #e81f09;

$color-gray-1: #8995a3;
$color-gray-2: #6a7684;

$color-light-gray-1: #f3f4f5;

$color-green-1: #11e164;

$color-blue-1: #7490d0;

/*******************\
 ##Shadows
\*******************/
$shadow-airy-tile: 0 8px 28px rgba($color-blue-1, 0.25);
