/*--------------------------------------*\
  #Variables
\*--------------------------------------*/

@import 'app/shared/ui-kit/sass/variables';

/*******************\
 ##Typography
\*******************/
$font-size-default: 1.4rem;

/*******************\
 ##Sizes
\*******************/
$padding-lr-1: 2rem;

/*******************\
 ##Borders
\*******************/
$border-rad: 0.6rem;

/*******************\
 ##App components
\*******************/
$avatar-size: 5.5rem;
$header-height: 7.8rem;
