/*--------------------------------------*\
  #Variables
\*--------------------------------------*/

@import 'src/app/shared/ui-kit/sass/variables';

/*******************\
 ##Typography
\*******************/
$font-size-default: 1.4rem;

/*******************\
 ##Sizes
\*******************/
$padding-lr-1: 2rem;

/*******************\
 ##Borders
\*******************/
$border-rad: 0.6rem;
