@import 'src/app/style/abstracts/index';

.sign-form {
  padding: 7.5%;
  padding-bottom: 10%;

  font-size: $font-size-default;
}

.sign-button {
  font-size: 1.2em;
}

.form-group {
  &:not(:last-child) {
    margin-bottom: 1.6em;
  }
}
