/* * * * * * * * *
 * Form          *
 * * * * * * * * */

@import 'src/app/shared/ui-kit/sass/variables';

.form {
  position: relative;
}

.form-group {
  display: flex;
  justify-content: space-between;

  &.start {
    justify-content: start;
  }

  &.center {
    justify-content: center;
  }

  &.align {
    &-start {
      align-items: start;
    }

    &-center {
      align-items: center;
    }
  }

  &:not(:last-child) {
    margin-bottom: 1.25em;
  }

  & > *:not(:last-child) {
    margin-right: 1.25em;
  }
}

.form-field {
  flex: 1;

  & > label {
    margin-bottom: 0.35em;
  }
}

.form-field-error {
  composes: form-field;

  & > label {
    color: $color-danger;
  }
}

.error {
  margin-top: 0.35em;

  color: $color-danger;
}
